@import "scss/_variables.scss";

.todos {
    width: calc(100% - 44px);
    max-height: calc(100vh - 80px);
    height: calc(100vh - 80px);
    padding: 30px 22px 120px 22px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    background-image: url("../../assets/background.png");
    .empty {
        font-size: 20px;
        color: $Shark;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@supports (height: 100dvh) {
    .todos {
        max-height: calc(100dvh - 230px);
        height: calc(100dvh - 180px);
    }
}
