@import '../../scss/_variables.scss';

.tabWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
    .tabButton {
        min-width: 80px;
        height: 40px;
        background: $bone;
        outline: none;
        cursor: pointer;
        border: none;
        margin-right: 10px;
    }
    .selected {
        background: $stonewall;
    }
}
